name: Run tests

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Load .env file
        uses: xom9ikk/dotenv@v2.3.0
        with:
          load-mode: strict

      - name: Setup Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Use Exiftool
        uses: woss/exiftool-action@v12.92
        if: matrix.os != 'windows-latest'

      - uses: MinoruSekine/setup-scoop@v4.0.1
        with:
          apps: exiftool
        if: matrix.os == 'windows-latest'

      - name: Set up gotestfmt
        run: go install github.com/gotesttools/gotestfmt/v2/cmd/gotestfmt@latest

      - name: Run tests
        run: go test ./... -json -v -race 2>&1 | gotestfmt -hide 'empty-packages'

  trigger_stable_release:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref_type == 'tag'
    steps:
      - name: Trigger repository_dispatch event
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PERSONAL_ACCESS_TOKEN }}" \
            https://api.github.com/repos/ayoisaiah/f2/dispatches \
            -d '{"event_type": "release_stable", "client_payload":{"tag": "${{ github.ref }}", "tag_name": "${{ github.ref_name }}" }}'

